h2 {
  padding-top: 30px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.default-image {
  height: 300px;
}

.block-text {
  margin: 10px 0 30px 0;
  display: block;
}

.footer {
  background-color: black;
  color: white;
}

.block-article {
  border-bottom: 1px #999 solid;
}

#grey-background {
  background-color: #efefef;
}
